// Color
$color-primary: #fe6433;
$color-primary-light: #ff424f;
$color-primary-dark: #ee4d2d;

$color-grey-light: #f7f7f7;
$color-grey-light-1: #eee;
$color-grey-light-2: #d3d3d3;
$color-grey-light-3: #f9f9f9;
$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;
$color-grey-dark-3: #555;
$color-grey-dark-4: #dbdbdb;
$color-white: #fff;
$color-black: #000;
$color-line: #bdbdbd;
$color-background: #f5f5f5;
$color-background-input: #fff6f7;

$color-authen-link: #05a;
$color-social-fb: #3084f3;
$color-social-google: #5490f5;
$color-text: rgba(0, 0, 0, 0.8);
$color-disable: rgba(0, 0, 0, 0.26);
$color-badge: rgba(255, 212, 36, 0.9);
$color-shadow: rgba(0, 0, 0, 0.1);
$color-price-original: rgba(0, 0, 0, 0.54);
$color-page-numbers: rgba(0, 0, 0, 0.4);
$color-box-input: rgba(0, 0, 0, 0.14);
// Font
$font-size-default: 1.6rem;

// Border
$border-black-05: 1px solid rgba(0, 0, 0, 0.05);
$border-black-09: 1px solid rgba(0, 0, 0, 0.09);
$border-black-14: 1px solid rgba(0, 0, 0, 0.14);
$border-black-26: 1px solid rgba(0, 0, 0, 0.26);
$border-white-1: 1px solid rgba(242, 242, 242, 1);
