* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include responsive(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9px/16px = 56.25%
  }

  @include responsive(tab-port) {
    font-size: 50%; //1rem = 8px, 8px/16px = 50%
  }

  @include responsive(big-desktop) {
    font-size: 75%; //1rem = 12px, 12px/16px = 75%
  }
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.mr-1 {
  margin-right: 1rem;
}
