.item-box {
  display: flex;
  border-radius: 1px;
  box-shadow: 0 0.1rem 0.2rem 0 $color-shadow;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  background: $color-white;
  overflow: visible;
  padding: 0;
  color: $color-text;

  &:hover {
    box-shadow: 0 0.2rem 20px 0 $color-shadow;
    // -webkit-transform: translateY(-.0625rem);
    transform: translateY(-0.2rem);
    z-index: 1;
  }
}

.item-header {
  width: 100%;
  padding-top: 100%;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.item-badge-box {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.item-badge {
  background-color: $color-badge;
  width: 3.6rem;
  height: 3.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4rem;
  color: $color-primary-dark;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 4px 2px 3px;
  font-weight: 700;

  &::after {
    content: '';
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent $color-badge;
    border-style: solid;
    border-width: 0 18px 4px;
  }
}

.discount-percent {
  &__text {
    color: $color-white;
  }
}

.item-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.item-name {
  display: flex;
  flex: 1 0 auto;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.2rem;
  line-height: 1.4;
}

.item-price {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.item-price-original {
  max-width: 100%;
  flex: 0 1 auto;
  color: $color-price-original;
  text-decoration: line-through;
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.item-price-discount {
  max-width: calc(100% - 2.2rem);
  flex: 1 0 auto;
  color: $color-primary;
}

.item-price-icon-ship {
  width: 2.2rem;
  height: 2.4rem;
  margin-left: 0.2rem;
  color: #00bfa5;
}

.item-rate {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.item-rate-farvorite {
  margin-right: 0.5rem;
}

.item-rate-star {
  margin-left: auto;
  font-size: 1rem;
  overflow: hidden;
  color: $color-disable;

  &--checked {
    color: #ffce3d;
  }
}

.item-rate-sold {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.item-location {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  min-height: 1em;
  text-align: right;
  font-weight: 200;
}
