.search-item-result {
  position: relative;
  &__items {
    margin-top: 0.8rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  }

  &__item {
    & a {
      text-decoration: none;
    }
  }
}

.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2rem;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  font-size: 1.4rem;
  font-weight: 400;

  &__label {
    margin-right: 0.5rem;
    color: $color-grey-dark-3;
  }
}

.sort-by-options__options,
.sort-by-options__option,
.select-with-status__holder {
  box-shadow: 0 1px 1px 0 #00000005;
  height: 3.4rem;
  line-height: 3.4rem;
  border-radius: 2px;
  border: none;
}

.sort-by-options {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: flex-start;

  &__option {
    display: flex;
    flex: 0 0 6em;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    margin-left: 1rem;
    text-transform: capitalize;
    background: $color-white;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;

    &--selected {
      background: $color-primary;
      color: $color-white;
    }
  }
}

.select-with-status {
  min-width: 20rem;
  margin-left: 1rem;

  &__holder {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: $color-white;
  }

  &__placeholder {
    display: block;
    margin: 0 1rem;
    font-size: 1.4rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
}

.mini-page-controller {
  display: flex;
  align-items: center;

  &__current {
    color: $color-primary;
  }

  &__next-btn,
  &__prev-btn {
    width: 3.6rem;
    height: 3.4rem;
    border-radius: 2px;
    border: none;
    background: $color-white;
  }

  &__prev-btn {
    margin-left: 1.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: $border-white-1;
  }

  &__next-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
