.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-list {
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  &:hover .slick-prev {
    opacity: 1;
  }

  &:hover .slick-next {
    opacity: 1;
  }
}
